@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    font-family: "Chakra Petch", sans-serif;
    overflow-x: hidden;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
    
}

body{
    background-color: #000000cb;
}

.bodyImage{
    position: fixed;
    z-index: -1;
    filter: blur(0.3rem);
}

#rainDrop{
    z-index: 3;
    position: fixed;
    left: 30%;
    width: 40px;
    height: 40px;
    background-color: #325fa7;
    -webkit-animation: expand 0.5s;
}

#secondDrop{
    z-index: 3;
    position: fixed;
    left: 30%;
    width: 40px;
    height: 40px;
    background-color: #325fa7;
    -webkit-animation: expand 0.7s;
}

#thirdDrop{
    z-index: 3;
    position: fixed;
    left: 30%;
    width: 40px;
    height: 40px;
    background-color: #325fa7;
    -webkit-animation: expand 0.9s;
}


@-webkit-keyframes expand{
    0%{top:2%;}
    100%{top:100%; width: 0px; height: 0px;}
}


.headerMain{
    position: fixed;
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #1f1f1f, #222222);
    width: 100%;
}


.menuList{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 20px;
    color: white;
    margin-left: auto;
    gap: 15px;
    margin-right: 1%;
}

.siteTitle{
    margin-left:13%;
    color: white;
    font-size: 20px;
    font-family: "Orbitron", sans-serif;
}


.menuTitle{
    margin-right: auto;
    margin-left: 10px;
    font-size: 40px;
    background: linear-gradient(to right, #FFFF00, #B2BEB5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.menuList li:hover{
    transform: scale(1.1);
}



.iconSlider{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(to right, #1f1f1f, #222222);
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.iconItem{
    margin-bottom: 40px;
    width: 40px;
    height: 40px;
}

.titleContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 11%;
    margin-bottom: -12%;
}


.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 100px;
}

.aboutCard{
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    width: 500px;
    height: auto;
    background-image: linear-gradient(to right, #1f1f1f, #222222);
    color: white;
    border-radius: 25px;
    margin-bottom: 5%;
    -webkit-box-shadow: 0px 2px 31px 6px rgba(0,0,0,1);
-moz-box-shadow: 0px 2px 31px 6px rgba(0,0,0,1);
box-shadow: 0px 2px 31px 6px rgba(0,0,0,1);
}

.cardImg{
    margin-top: 5%;
    border-radius: 50%;
    width: 30%;
    
}

.cardTitle{
margin-top: 2%;
margin-bottom: 2%;
}

.cardText{
    width: 90%;
    margin-top: -2%;
}

.cardButton{
    font-size: 20px;
    height: 50px;
    width: 30%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.verticalLine{
    border-left: 6px solid rgb(22, 22, 22);
  height: 100px;
  margin-top: -190px;
}

.leftCurvedLine{
    width: 500px;
    height: 100px;
    border: 6px solid rgb(22, 22, 22);
    border-bottom: none;
    border-radius: 20%/100px 100px 0 0;
    margin-top: -100px;
}

.devCardHolder{
    margin-top: -7%;
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 4;
}

.frontendCard{
    margin-top: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 26%;
        width: auto;
        height: 200px;
        background-image: linear-gradient(to right, #1f1f1f, #222222);
        color: white;
        border-radius: 25px;
        margin-bottom: 5%;
        -webkit-box-shadow: 0px 2px 31px 6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 2px 31px 6px rgba(0,0,0,1);
    box-shadow: 0px 2px 31px 6px rgba(0,0,0,1);
}

.backendCard{
    margin-top: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 5%;
        width: auto;
        height: 200px;
        background-image: linear-gradient(to right, #1f1f1f, #222222);
        color: white;
        border-radius: 25px;
        margin-bottom: 5%;
        -webkit-box-shadow: 0px 2px 31px 6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 2px 31px 6px rgba(0,0,0,1);
    box-shadow: 0px 2px 31px 6px rgba(0,0,0,1);
}